{% extends 'base.html' %}
{%block body %}
    <div>
  <div class="card bg-dark text-white">
  <img class="card-img" src="/static/1234.jpg" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title">Welcome to the TaskApp</h1>
    <br>
    <br>
    <br>
    <p class="card-text" style="text-align: left;"><b>Welcome to our TaskApp <br> 
      While making this app we have kept the style to minimalistic<br>
      so that the tasks and user experience doesn't clutter<br>
      or as we can say you don't have to feel the slowness in your life <br>
      just add your tasks and enjoy <br>
    </b></p>
  </div>
</div>
</div>
{%endblock body%}



 
